<footer>
    <strong>No.1 Armani Suits</strong>
    <p><a href="https://www.google.com/maps/place/No.1+Armani+Suits%E2%80%8F%E2%80%AD/@7.8906396,98.2941182,17z/data=!3m1!4b1!4m6!3m5!1s0x30503b004b26a493:0x24dd532b771162ae!8m2!3d7.8906343!4d98.2966931!16s%2Fg%2F11xzg9t54w?entry=ttu&g_ep=EgoyMDI2MDEyOC4wIKXMDSoKLDEwMDc5MjA3M0gBUAM%3D" target="_blank" rel="noopener" title="Open No.1 Armani Suits location in Google Maps">206/1 Rat Uthit Song Roi Pi Rd, Pa Tong, Kathu District, Phuket 83150</a></p>
</footer>
