/* FAQ section (BEM) */

.faq {
  background: #EEDBD1;
}

.faq__title {
  font-size: 2.2em;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
  color: #663E3E;
  font-family: 'Tiro Bangla', 'Times New Roman', serif;
}

.faq__subtitle {
  color: #7E6B59;
}

.faq__list {
  
  margin: 2rem auto 0;
  padding: 0;
  list-style: none;
}

.faq__item {
  border-bottom: 1px solid #000000;
  padding: 1rem 0;
}

.faq__item:last-child {
  border-bottom: none;
}

.faq__item:first-child {
  padding-top: 0;
}

.faq__question {
  font-weight: 600;
  color: #663E3E;
  font-size: 1.05em;
  margin: 0;
}

.faq__answer {
  margin: 0.5rem 0 0;
  color: #7E6B59;
  line-height: 1.6;
  max-width: 80em;
}

.faq__answer::before {
  content: none;
}
