/* Gallery block: section links to Google reviews, marquee of images (same height, different widths) */

.gallery__title {
  color: #663E3E;
  margin-bottom: 0;
  font-size: 2.2em;
  text-align: left;
  font-weight: 300;
  padding-bottom: 0;
  font-family: 'Tiro Bangla', 'Times New Roman', serif;
}

.gallery__subtitle {
  color: #7E6B59;
  margin: 0 0 1rem;
  font-size: 1em;
  text-align: left;
  line-height: 1.6;
}

.gallery__link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.gallery .marquee__strip {
  gap: 30px;
}

.gallery__image {
  display: block;
  height: 500px;
  width: auto;
  min-width: 180px;
  object-fit: cover;
  border-radius: 26px;
  flex-shrink: 0;
  pointer-events: none;
}
