/* How it works - timeline */
.how-it-works {
    background: #6E9183;
}

.how-it-works__title {
    color: #FFE9DC;
    font-size: 2.2em;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    
    font-family: 'Tiro Bangla', 'Times New Roman', serif;
}

.how-it-works__subtitle {
    color: #F5F1E8;
    margin-bottom: 2rem;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 660px;
    margin: 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(255, 233, 220, 0.6);
    transform: translateX(-50%);
    z-index: 0;
}

.timeline__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    justify-items: start;
    color: #F5F1E8;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

/* Odd items (1, 3, 5): content in left half, icon above headline, left-aligned in that half */
.timeline__item:nth-child(odd) .timeline__index {
    grid-column: 1;
    grid-row: 1;
    padding-right: 40px;
}

.timeline__item:nth-child(odd) .timeline__content {
    grid-column: 1;
    grid-row: 2;
    padding-right: 40px;
    text-align: left;
}

/* Even items (2, 4): content in right half, icon above headline, left-aligned in that half */
.timeline__item:nth-child(even) .timeline__index {
    grid-column: 2;
    grid-row: 1;
    padding-left: 40px;
}

.timeline__item:nth-child(even) .timeline__content {
    grid-column: 2;
    grid-row: 2;
    padding-left: 40px;
    text-align: left;
}

.timeline__index {
    width: 68px;
    height: 68px;
    display: flex;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    margin-bottom: 1rem;
}

.timeline__index .timeline__icon {
    object-fit: contain;
    display: block;
}

.timeline__content {
    padding: 0;
    max-width: 320px;
}

.timeline__heading {
    color: #FFE9DC;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Tiro Bangla', 'Times New Roman', serif;
}

.timeline__text {
    color: #F5F1E8;
    font-size: 1em;
    line-height: 1.7;
}

.how-it-works__cta-wrap {
    margin-top: 3rem;
    text-align: center;

}

.how-it-works__cta-text {
    color: #FFE9DC;
    margin: 0 0 1rem;
    font-size: 1.25em;
    font-weight: 400;
    font-family: 'Tiro Bangla', 'Times New Roman', serif;
}

.how-it-works__cta-wrap .cta {
    display: inline-block;
    background:#E1B39C;
    color:#472A21;
}

@media (max-width: 768px) {
    .timeline::before {
        left: 43px;
        transform: none;
    }

    .timeline__item {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-left: 70px;
    }

    .timeline__item:nth-child(odd) .timeline__index,
    .timeline__item:nth-child(even) .timeline__index {
        grid-column: 1;
        grid-row: 1;
        padding-left: 0;
        padding-right: 0;
    }

    .timeline__item:nth-child(odd) .timeline__content,
    .timeline__item:nth-child(even) .timeline__content {
        grid-column: 1;
        grid-row: 2;
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }

    .timeline__index {
        width: 56px;
        height: 56px;
    }
}
